.Big_screen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #8E0E00,#1F1C18);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
    font-size: 28px;
    padding: 0px 20px;
    display: none;
    z-index: 4;
}

@media screen and (min-width: 570px){
    .Big_screen{
        display: flex;
    }
}