.nav{
    position: fixed;
    width: 100%;
    border-top: 1px solid #f7f7f7;
    background-color: #fcfcfc;
    padding: 20px 50px;
    bottom: 0px;
    left: 0px;
}

.nav .nav_list{
    display: flex;
    justify-content: space-between;
}

.nav i{
    font-size: 20px;
}

.nav .nav_list-link{
    position: relative;
}

.nav .nav_badge{
    position: absolute;
    display: flex;  
    top: -7px;
    right: -7px;
    color:white;
    background-color: #dc5d46;
    width:18px;
    height:18px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}